* {
  margin: 0;
  padding: 0;
}

* {
  text-transform: uppercase;
}
@media (min-width: 320px) {
  .arsenal-logo {
    margin-top: 15px;
    margin-left: -5px;
    width: 65px;
    height: 62px;
  }

  .nav-link {
    margin-left: 8px;
  }

  .card-title {
    text-align: center;
  }

  .card-text {
    text-align: center;
  }

  .btn-primary {
    background-color: crimson;
    transition: background-color 0.5s ease;
    width: 100%;
  }

  .arsenal-card {
    margin-bottom: 10px;
  }

  .fans-information__gif {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  /*navbar*/

  .header-content {
    background: url("img/arsenal-crew.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul {
    list-style: none;
  }

  .nav-link {
    color: white !important;
    transition: background-color 0.5 ease;
    margin-top: -55px;
    margin-left: 45px;
  }

  .nav-link:hover {
    background-color: crimson;
  }

  .arsenal-logo {
    margin-top: -15px;
    margin-left: -25px;
    width: 65px;
    height: 62px;
  }

  .nav-item {
    margin-top: 15px;
    margin-left: 23px;
  }

  .card-title {
    text-align: center;
  }

  .card-text {
    text-align: center;
  }

  .fans-information {
    margin-top: 25px;
  }

  .fans-information__image {
    width: 100%;
  }

  .btn-primary {
    background-color: crimson;
    transition: background-color 0.5s ease;
    width: 100%;
  }

  .arsenal-card {
    margin-bottom: auto;
  }

  .fans-information__gif {
    margin-top: 15px;
    margin-bottom: auto;
  }
}
