* {
  margin: 0;
  padding: 0;
}

* {
  text-transform: uppercase;
}

@media (min-width: 320px) {
  .arsenal-logo {
    margin-left: -125px;
  }
}

@media (min-width: 1200px) {
  .background {
    background: url("img/wallpaperflare.com_wallpaper.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-content {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
  }

  .navbar-collapse {
    justify-content: center !important;
  }

  .navbar-nav {
    align-items: center;
  }

  .nav-link {
    color: white !important;
    transition: background-color 0.5 ease;
    margin-top: -15px;
  }

  .nav-link:hover {
    background-color: crimson;
  }

  .arsenal-logo {
    width: 65px;
    height: 62px;
  }

  /*main*/

  .first-section {
    margin-top: 78px;
  }

  .card-frame {
    background: goldenrod;
    width: 400px;
  }

  .general-side {
    display: flex;
    justify-content: space-between;
  }

  .left-side {
    margin-left: 25px;
    margin-top: 25px;
  }

  .section-header__text {
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    color: white;
    margin-top: 20px;
  }

  .card-conference {
    color: rebeccapurple;
  }

  .btn-primary {
    background-color: crimson;
    transition: background-color 0.5s ease;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: transparent;
  }

  .third-kit {
    margin-right: 25px;
    width: 400px;
    height: 225px;
  }

  .collection {
    margin-top: 25px;
    width: 250px;
    height: 200px;
  }

  .arsenal-items {
    margin-top: 85px;
    margin-right: -25px;
  }

  .arsenal-text__shop {
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    color: white;
  }

  .arsenal-things__title {
    color: crimson;
    font-size: 16px;
    text-align: center;
  }

  .arsenal-things__text {
    color: black;
    text-align: center;
  }

  .arsenal-highlights {
    margin-top: 25px;
  }

  .arsenal-highlights__header {
    margin-top: 25px;
    background: crimson;
  }

  .arsenal-highlights__text {
    color: white;
    text-align: center;
    font-size: 28px;
  }

  .arsenal-highlights__video {
    width: 689px;
    height: 400px;
  }

  .arsenal-info {
    margin-left: 15px;
  }

  .supporting {
    color: goldenrod;
  }

  .supporting-photo {
    width: 690px;
    height: 360px;
  }

  .card-academy {
    font-size: 12px;
  }

  .academy-text {
    color: black;
  }

  .academy-text:hover {
    color: crimson;
  }

  /*footer*/

  .footer {
    margin-top: 65px;
    background-color: rgb(88, 88, 88);
  }

  .logo-arsenal {
    margin-top: 45px;
    margin-left: 550px;
    width: 65px;
    height: 62px;
  }

  .premier-league {
    width: 300px;
    height: 225px;
  }

  .premier-league:hover {
    -webkit-filter: grayscale(100) brightness(200);
    filter: grayscale(100) brightness(200);
  }

  .adidas {
    width: 125px;
    height: 100px;
  }

  .emirates {
    width: 125px;
    height: 100px;
  }

  .pes {
    width: 200px;
    height: 150px;
  }

  .rwanda {
    width: 125px;
    height: 100px;
  }

  .therabody {
    width: 125px;
    height: 100px;
  }
}
